[submodule "deps/bmi"]
	path = deps/bmi
	url = http://git.mcs.anl.gov/bmi
[submodule "deps/openpa"]
	path = deps/openpa
	url = http://git.mcs.anl.gov/radix/openpa
[submodule "deps/mercury"]
	path = deps/mercury
	url = https://github.com/mercury-hpc/mercury.git
[submodule "deps/argobots"]
	path = deps/argobots
	url = https://github.com/pmodels/argobots.git
[submodule "deps/argobots-snoozer"]
	path = deps/argobots-snoozer
	url = https://xgitlab.cels.anl.gov/sds/abt-snoozer.git
[submodule "deps/margo"]
	path = deps/margo
	url = https://xgitlab.cels.anl.gov/sds/margo.git
