[submodule "deps/bmi"]
	path = deps/bmi
	url = http://git.mcs.anl.gov/bmi
[submodule "deps/openpa"]
	path = deps/openpa
	url = http://git.mcs.anl.gov/radix/openpa
[submodule "deps/mercury"]
	path = deps/mercury
	url = https://github.com/mercury-hpc/mercury.git
